@using LibraryManagementSystem;
@model LibraryManagementSystem.Models.UserAndBooks;
@{
    ViewData["Title"] = "Details";
    //LibraryManagementSystem.Models.UserDetail user = (LibraryManagementSystem.Models.UserDetail)Model.ToList()[1];
    //List<LibraryManagementSystem.Models.BooksTransaction> Books = (List<LibraryManagementSystem.Models.BooksTransaction>) Model.ToList()[0];
}
<div class="container-fluid">
<div class="row">
    <dl class="row">
        <dt class="col-md-2 col-lg-2 col-sm-2">
            @Html.DisplayNameFor(modelItem=> modelItem.User.UserId)
        </dt>
        <dd class="col-md-2 col-lg-2 col-sm-2">
            @Html.DisplayFor(modelItem => modelItem.User.UserId)
        </dd>
        <dt class="col-md-2 col-lg-2 col-sm-2">
            @Html.DisplayNameFor(modelItem=> modelItem.User.UserName)
        </dt>
        <dd class="col-md-2 col-lg-2 col-sm-2">
            @Html.DisplayFor(modelItem => modelItem.User.UserName)
        </dd>
        <dt class="col-md-6 col-lg-6 col-sm-6">
            @Html.DisplayNameFor(modelItem=> modelItem.User.Email)
        </dt>
        <dd class="col-md-2 col-lg-2 col-sm-2">
            @Html.DisplayFor(modelItem => modelItem.User.Email)
        </dd>
    </dl>
</div>
 </div>
<div>
        <table class="table table-hover">
        <thead class="text-light bg-dark ms-1">
                <tr>
                    <th>
                        Book Detail
                    </th>
                    <th>
                        Issue Date
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (LibraryManagementSystem.Models.BooksTransaction books in Model.books)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="@books.Book.ImageUrl"
                             alt=""
                             style="width: auto; height: 45px"
                             class="rounded-1" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">@Html.DisplayFor(modelItem => books.Book.Title)</p>
                            <p class="text-muted mb-0">by @Html.DisplayFor(modelItem=>books.Book.Author)</p>
                        </div>
                        </div>
                    </td>
                    <td>
                       @books.IssueDate.Value.ToShortDateString()
                    </td>
                    <td>
                         @books.DueDate.Value.ToShortDateString()
                    </td>
                    <td>
                        <a asp-action="Renew" asp-route-id="@books.TransId">Renew</a> |
                        <a asp-action="Return" asp-route-id="@books.TransId">Return</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
</div>

